.iconsAndTextsOuterContainer {
  display: flex;
  font-size: 0.875rem;
  color: var(--gray-500);
}

.iconAndTextContainer {
  display: flex;
  align-items: center;

  + .iconAndTextContainer {
    margin-left: 1.916875rem;
  }

  p,
  time {
    margin-left: 0.65625rem;
  }

  .icon {
    font-size: 1.3rem;
  }
}

.previewButton {
  max-width: 720px;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  background: var(--gray-100);
  color: var(--gray-1000);
  transition: filter 0.3s;

  .anchorContainer {
    width: 100%;
    padding: 1.125rem 0;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.96);
  }
}

